@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-ExtraLight';
    src: url('../fonts/Raleway-ExtraLight.ttf');
}